html {
    height: 100%;
}
html,
body {
    --rasin-black: #262322;
    --blush: #ea638c;
    --maximum-yellow-red: #e9b44c;
    --melon: #ffbcb5;
    --baby-powder: #fcfcfc;
    margin: 0px;
    background-color: var(--baby-powder, #fcfcfc);
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Abril Fatface", sans-serif;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

a {
    text-decoration: none;
    color: var(--blush, #ffbcb5);
}

img {
    border: 0;
}

p {
    color: var(--rasin-black);
    line-height: 1.5;
    font-size: 20px;
}

h1 {
    font-size: 5em;
}

h2 {
    color: var(--melon);
    font-size: 2.5em;
}

h3 {
    color: var(--maximum-yellow-red);
    font-size: 24px;
}

/* Menu movement */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
    margin-right: 3em;
}

.menu li a {
    position: relative;
    display: block;
    padding: 8px 16px;
    text-align: center;
}

.menu li a:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.menu li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--melon);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.content {
    text-align: center;
    margin: 5rem auto;
    width: 70%;
}

.content h3 {
    margin-top: 4em;
}

.content p {
    text-align: justify;
}

.project {
    margin: 5rem auto;
    display: grid;
}

.project h3 {
    margin: 1em 0 0 0;
}

.project p {
    text-align: justify;
}

.project-header {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

.project-header-text h2 {
    font-size: 1.5em;
}

.project-header-text {
    text-align: center;
    font-size: 5em;
    line-height: 0.5;
}

.project-header-text p {
    text-align: center;
}

.tagline {
    color: var(--maximum-yellow-red);
    font-family: "Special Elite", cursive;
    text-transform: lowercase;
}

#loominary .project-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
        url("../images/loominary-header.jpg");
}

#bujo-2019 .project-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
        url("../images/bujo-2019-header.png");
}

#sweet-evil .project-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
        url("../images/sweet-evil-header.png");
}

figure {
    width: 100%;
    margin: 0;
    text-align: center;
}

figure > img {
    width: 80%;
}

figure > video {
    width: 80%;
}

figcaption {
    margin: 1em 4em;
    opacity: 0.6;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    padding: 15px;
}

footer {
    background-color: var(--melon);
    width: 100%;
    height: 100px;
    padding: 1em;
    color: var(--maximum-yellow-red);
    grid-row-start: 2;
    grid-row-end: 3;
}

.icon {
    height: 40px;
    width: auto;
    background-color: var(--melon);
    transition: ease-in 0.3s background-color;
    border-radius: 50%;
}

.icon:hover {
    background-color: var(--blush);
    transition: ease-in 0.3s background-color;
}

.copyright {
    color: var(--blush);
}
